[submodule "pandas"]
	path = pandas
	url = git@gist.github.com:e4fb55d194401dda0ff078cb66f02842.git
	branch = master
[submodule "presto"]
	path = presto
	url = git@gist.github.com:2f6912419f02da397de96f3ef597881c.git
	branch = master
[submodule "docker"]
	path = docker
	url = git@gist.github.com:db66c3d6bdf06aba91c37e507e37b85e.git
	branch = master
[submodule "css"]
	path = css
	url = git@gist.github.com:e9981ad21357190446d643d317eade45.git
	branch = master
[submodule "html_css"]
	path = html_css
	url = git@gist.github.com:e9981ad21357190446d643d317eade45.git
	branch = master
[submodule "unix"]
	path = unix
	url = git@gist.github.com:4f9529fe9d0119b515d8531128eec5a4.git
	branch = master
[submodule "gas"]
	path = gas
	url = git@gist.github.com:4adcb0def17bae9d5784b19e7cbb0f71.git
	branch = master
